*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul{
    list-style: none; /*Removendo marcações das litas*/
}
a:link, a:hover, a:visited{
    text-decoration: none;  /*Removendo marcações dos links*/
}
a{
    background-color: #DEB3AD; 
    color: #663635;
    padding: 2px;
    border-radius: 2px;
}
a:hover{
    background-color: #E1999F;
}
/*Padrão do body*/
body{
    background-color:#F9F1F0;
    font-size: 18px;
}
/*Header*/
header{
    text-align: center;
    background-color:#DEB3AD;
    padding: 20px;
    color: #663635;
}
/*Footer*/
footer{
    text-align: center;
    padding: 10px;
    background-color:#663635;
    margin-top: 30px;
    color:#DEB3AD;
    }
/*Seções*/
section{
    border: 2px solid #E1999F;
    margin: 30px auto 0 auto;
    padding: 20px;
    border-radius: 10px;
    width: 98%;
    max-width: 1400px;
    scroll-margin-top: 80px
}
img{
    max-width: 100%;
}
h1, h2, h3{
    margin-bottom: 10px;
}
p{
    text-indent: 3em;
}
.menu li{
    margin: 0 3px;
    min-width: 100px;
}
.menu{
    position: sticky; /* Mantendo o menu no topo da página*/
    top: 5px;
    margin: 20px auto 0 auto;
    border: 3px solid #DEB3AD;
    max-width: 550px;
    width: 100%;
    padding: 10px 0;
    background-color: #F9F1F0;
}
.menu ul{
    display: flex; /*Responsividade para telas menores*/
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 5px;   
}
.menu a{ /*Estilizando botões do menu*/
    background-color: #663635;
    color: #f9f9f9;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 2px;
    border: 2px solid #E1999F;
    display: block;
    text-align: center;
}
.menu a:hover{
    background-color: #E1999F;
    color: #663635;
}
.center{
    text-align: center;
}
.container{
    display: flex; /*Responsividade para telas menores*/
    flex-flow: wrap;
    justify-content: center;
}
.caixa_foto{
    width: 100%;
    max-width: 300px;
    border: 2px solid #DEB3AD;
    border-radius: 10px;
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
#eu{
    border-radius: 25%;
}
.caixa_sobre{
    width: 100%;
    max-width: 600px;
    border: 2px solid #DEB3AD;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
.caixa_formacao{
    flex: 1 1 300px;
    width: 100%;
    max-width: 400px;
    border: 2px solid #DEB3AD;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.caixa_portfolio{
    flex: 1 1 300px;
	width: 100%;
    max-width: 500px;
    border: 2px solid #DEB3AD;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.linha{ /*Linha divisória*/
    border-top: 3px dotted #DEB3AD;
    max-width: 95%;
    margin: 30px auto;
}
.formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    border: 2px solid #663635;
    border-radius: 10px;
    background-color: #DEB3AD;
    text-align: left;
    font-size: 16px;
}
button{ /*Botão do formulário*/
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #663635;
    width: 60px;
    background-color: #663635;
    color: #F9F1F0;
    font-size: 16px;;
}
button:hover{
    background-color: #E1999F;
    color: #663635;
    font-size: large;
}
.redes_sociais{
    max-width: 300px;
    width: 100%;
    border: 2px solid #663635;
    border-radius: 10px;
    padding: 10px;
}
.redes_sociais li{
    margin: 15px;
}
.redes_sociais a{
    padding: 10px;
    color: #663635;
    display: block;
    background-color: #DEB3AD;
    border-radius: 5px;
}
.redes_sociais a:hover{
    background-color: #E1999F;
}